{% extends 'home.html' %}
{% block content %}
    <!-- Start Features Area -->
    <section class="Features section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="feature-content">
                        <div class="title">
                        {% for herrmann in object_list %}
                            <h3 class="wow fadeInRight" data-wow-delay=".5s">{{ herrmann.automation_tit }}</h3>
                        </div>
                        
                            <hr>
                            <div class="section-title" style="text-align:left; padding: 0px;">
                                <span class="small-title wow fadeInUp" data-wow-delay=".3s">成功的超音波解決方案</span>
                            </div>
                            <div class="container">
                                <div class="row col-12">
                                  <div class="col-lg-3 col-md-4 col-6">
                                    <img src="{{ herrmann.automation_pho_01 }}">
                                  </div>
                                  <div class="col-lg-3 col-md-4 col-6">
                                    <img src="{{ herrmann.automation_pho_02 }}">
                                  </div>
                                  <div class="col-lg-3 col-md-4 col-6">
                                    <img src="{{ herrmann.automation_pho_03 }}">
                                  </div>
                                  <div class="col-lg-3 col-md-4 col-6">
                                    <img src="{{ herrmann.automation_pho_04 }}">
                                  </div>
                                  <div class="col-lg-3 col-md-4 col-6">
                                    <img src="{{ herrmann.automation_pho_05 }}">
                                  </div>
                                  <div class="col-lg-3 col-md-4 col-6">
                                    <img src="{{ herrmann.automation_pho_06 }}">
                                  </div>
                                  <div class="col-lg-3 col-md-4 col-6">
                                    <img src="{{ herrmann.automation_pho_07 }}">
                                  </div>
                                  <div class="col-lg-3 col-md-4 col-6">
                                    <img src="{{ herrmann.automation_pho_08 }}">
                                  </div>
                                  
                                </div>
                            </div>
                          
                        <hr>
                        <div class="feature-item wow fadeInUp" data-wow-delay=".5s">
                            <div class="feature-thumb">
                                <i class="lni lni-arrow-right-circle"></i>
                            </div>
                            <div class="banner-content" style="padding-top: 2%;">
                                
                                <p>{{ herrmann.automation_ctn|safe }}</p>
                            </div>
                        </div>
                        
                        
                        {% endfor %}
                    </div>
                </div>
                
            </div>
                
        </div>
    </section>
    
    <!-- End Features Area -->
{% endblock  %}