{% extends 'home_en.html' %} {% block content %}
<!-- Start Features Area -->
<section class="Features section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="feature-content">
                    <div class="title">

                        <h3 class="wow fadeInRight" data-wow-delay=".5s">Contact</h3>
                    </div>
                    {% for herrmann in object_list %}
                    <div class="feature-item wow fadeInUp" data-wow-delay=".5s">
                        <div class="feature-thumb">
                            <i class="lni lni-arrow-right-circle"></i>
                        </div>
                        <div class="banner-content" style="padding-top: 2%;">
                            <h2 class="title">PHONE：
                            </h2>
                            <p>{{ herrmann.ca_phone }}</p>
                        </div>
                    </div>
                    <div class="feature-item wow fadeInUp" data-wow-delay=".6s">
                        <div class="feature-thumb">
                            <i class="lni lni-arrow-right-circle"></i>
                        </div>
                        <div class="banner-content" style="padding-top: 2%;">
                            <h2 class="title">MAIL：</h2>
                            <p>
                                {{ herrmann.ca_mail }}
                            </p>
                        </div>
                    </div>
                    <div class="feature-item wow fadeInUp" data-wow-delay=".6s">
                        <div class="feature-thumb">
                            <i class="lni lni-arrow-right-circle"></i>
                        </div>
                        <div class="banner-content" style="padding-top: 2%;">
                            <h2 class="title">TIME：</h2>
                            <p>
                                {{ herrmann.ca_time }}
                            </p>
                        </div>
                    </div>
                    <div class="feature-item wow fadeInUp" data-wow-delay=".6s">

                        <div class="banner-content" style="padding-top: 2%;">
                            <h2 class="title">Address:</h2>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d259227.1739767161!2d120.1438393156115!3d23.15302576244332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e64b49a8cb0a5%3A0x3205e009eca9f3c9!2z6YqY5qmf5a-m5qWt6IKh5Lu95pyJ6ZmQ5YWs5Y-4!5e0!3m2!1szh-TW!2stw!4v1673611799084!5m2!1szh-TW!2stw"
                                width="800" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>
</section>

<!-- End Features Area -->
{% endblock %}