{% extends 'home.html' %}
{% block content %}
<!-- Start Hero Area -->
    <section class="hero-slider">
        <!-- Single Slider -->
        <div class="single-slider">
            <div class="container">
                <div class="row ">
                    {% for herrmann in object_list %}
                    <div class="col-lg-6 co-12">
                        <div class="home-slider">
                            <div class="hero-text">
                                <span class="small-title wow fadeInUp" data-wow-delay=".3s">最佳選擇</span>
                                <h1 class="wow fadeInUp" data-wow-delay=".5s"><span>Herrmann Engineering</span><br>
                                    海爾曼工程</h1>
                                <p class="wow fadeInUp" data-wow-delay=".7s">從最初的想法到應用開發，再到工藝優化，我們將與您攜手並進，為您提供最佳解決方案。我們堅信，針對每種應用，我們都有適合的專家和出色的超聲波解決方案。</p>
                                <div class="button wow fadeInUp" data-wow-delay=".9s">
                                    <a href="about-us.html" class="btn mouse-dir">More <span
                                            class="dir-part"></span></a>
                                </div>
                            </div>
                            <div class="hero-text">
                                <span class="small-title">Business Solution</span>
                                <h1><span>塑料 包装 無紡材料 金属</span></h1>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting <br> industry. Lorem
                                    Ipsum has been the industry's standard <br>dummy text ever since.</p>
                                
                            </div>
                            <div class="hero-text">
                                <span class="small-title">Business Solution</span>
                                <h1><span>We Provide Quality</span><br> Consulting Services</h1>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting <br> industry. Lorem
                                    Ipsum has been the industry's standard <br>dummy text ever since.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Single Slider -->
    </section>
    <!--/ End Hero Area -->

    <!-- Start Features Area -->
    <section class="Features section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="feature-right wow fadeInUp" data-wow-delay=".3s">
                        <div class="watch-inner">
                            <div class="video-head wow zoomIn" data-wow-delay="0.4s">
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="feature-content">
                        <div class="title">
                            
                            <h3 class="wow fadeInRight" data-wow-delay=".5s">Herrmann Engineering</h3>
                        </div>
                        <div class="feature-item wow fadeInUp" data-wow-delay=".5s">
                            <div class="feature-thumb">
                                
                            </div>
                            <div class="banner-content">
                                <h2 class="title">離開了合格的諮詢和貼心的客戶關懷，就難以進行超聲波焊接。因此我們開發了 HERRMANN ENGINEERING，這是一種獨特的服務組合，旨在成功實施您的項目。這使我們能夠找到解決方案，並轉換為實際的成果，並在每一步為您提供貼身支持。
                                </h2>
                                
                            </div>
                        </div>
                        <div class="feature-item wow fadeInUp" data-wow-delay=".6s">
                            <div class="feature-thumb">
                                
                            </div>
                            <div class="banner-content">
                                <h2 class="title">HERRMANN ENGINEERING海爾曼工程）的目標是為客戶找到完美的解決方案。我們的專傢每天在全世界 40 多個實驗室專門從事這方面的工作，使我們每年能夠成功實施數個應用。我們在超聲波領域深耕 60 年，並且對新的可持續概念不斷開展研究，因此我們是您的最佳閤作夥伴。</h2>
                                
                            </div>
                        </div>
                        <div class="feature-item wow fadeInUp" data-wow-delay=".7s">
                            <div class="feature-thumb">
                                
                            </div>
                            <div class="banner-content">
                                <h2 class="title">我們理解客戶的需求。我們可以與您一起開發最佳解決方案，從最初的想法到流程開發，直至實施。我們廣泛的産品係列以全球服務包為終極形式。以確保始終如一的可靠 Herrmann（海爾曼）品質，隨時隨地滿足您的需要。
                                我們的技術將幫助您實現可持續發展目標，因為超聲波技術是一種極其節約資源的可靠技術。使您能夠減少廢品、材料使用和能源消耗。
                                得益於這個獨特的組閤，讓我們共同努力，實現您的業務成功！</h2>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Features Area -->

    <!-- Start Service Area -->
    <section class="services section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="section-title">
                        <span class="wow fadeInDown" data-wow-delay=".2s">工業解決方案行</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">工業超聲波，無所不在</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">您知道嗎？日常生活中有大量的産品都是利用超聲波來焊接的。我們的技術已應用於各個行業，可對塑料和有色金屬進行永久性接合。</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                        <div class="serial">
                            <span><i class="lni lni-code"></i></span>
                        </div>
                        <h3><a href="service-single.html">{{ mid_tit_001 }}</a></h3>
                        <p>{{ mid_txt_001 }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".3s">
                        <div class="serial">
                            <span><i class="lni lni-vector"></i></span>
                        </div>
                        <h3><a href="service-single.html">{{ mid_tit_002 }}</a></h3>
                        <p>{{ mid_txt_002 }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".4s">
                        <div class="serial">
                            <span><i class="lni lni-ux"></i></span>
                        </div>
                        <h3><a href="service-single.html">{{ mid_tit_003 }}</a></h3>
                        <p>{{ mid_txt_003 }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".5s">
                        <div class="serial">
                            <span><i class="lni lni-keyword-research"></i></span>
                        </div>
                        <h3><a href="service-single.html">{{ mid_tit_004 }}</a></h3>
                        <p>{{ mid_txt_004 }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".6s">
                        <div class="serial">
                            <span><i class="lni lni-seo"></i></span>
                        </div>
                        <h3><a href="service-single.html">{{ mid_tit_005 }}</a></h3>
                        <p>{{ mid_txt_005 }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".7s">
                        <div class="serial">
                            <span><i class="lni lni-bar-chart"></i></span>
                        </div>
                        <h3><a href="service-single.html">{{ mid_tit_006 }}</a></h3>
                        <p>{{ mid_txt_006 }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
    <!-- /End Services Area -->
   
{% endblock  %}