{% extends 'home.html' %} {% block content %}{% load static %}
<!-- Start Hero Area -->
<section class="hero-slider">
    <!-- Single Slider -->
    <div class="single-slider">
        <div class="">
            <div class="">
                {% for herrmann in object_list %}
                <div class="col-lg-12 co-12">
                    <div class="home-slider">
                        <div class="hero-text">
                            <video class="full-video" width="100%" height="" autoplay muted loop playsinline>
                            <source src="{% static 'herrmann/assets/images/video.mp4' %}" type="video/mp4">
                        </video>
                        </div>
                        <div class="text-video">
                            <span class="small-title wow fadeInUp" data-wow-delay=".3s">最佳選擇</span>
                            <h1 class="wow fadeInUp" data-wow-delay=".5s"><span style="color:#3E54FF ;">Herrmann Engineering<br> 海爾曼工程</span>
                            </h1>
                            <p class="wow fadeInUp" data-wow-delay=".7s" style="color:#333 ;">從最初的想法到應用開發，再到工藝優化，<br>我們將與您攜手並進，為您提供最佳解決方案。<br>我們堅信，針對每種應用，我們都有適合的專家和出色的超音波解決方案。</p>




                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--/ End Single Slider -->
</section>
<!--/ End Hero Area -->

<!-- Start Features Area -->
<section class="Features section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="feature-right wow fadeInUp" data-wow-delay=".3s">
                    <div class="watch-inner">
                        <div class="video-head wow zoomIn" data-wow-delay="0.4s">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="feature-content">
                    <div class="title">

                        <h3 class="wow fadeInRight" data-wow-delay=".5s" style="color: #3E54FF;">Herrmann Engineering</h3>
                    </div>
                    <div class="feature-item wow fadeInUp" data-wow-delay=".5s">
                        <div class="feature-thumb">

                        </div>
                        <div class="banner-content">
                            <h3 class="title">
                                <span style="color:#3E54FF ;background-color: #FFF;font-size: 1.3rem;">✓</span> 銘機實業(母公司)台灣區唯一獨家代理

                            </h3>

                        </div>
                    </div>
                    <div class="feature-item wow fadeInUp" data-wow-delay=".6s">
                        <div class="feature-thumb">

                        </div>
                        <div class="banner-content">
                            <h2 class="title">
                                <span style="color:#3E54FF ;background-color: #FFF;font-size: 1.3rem;">✓</span> 為客戶的技術合作夥伴和解決方案的專家
                            </h2>

                        </div>
                    </div>
                    <div class="feature-item wow fadeInUp" data-wow-delay=".7s">
                        <div class="feature-thumb">

                        </div>
                        <div class="banner-content">
                            <h2 class="title">
                                <span style="color:#3E54FF ;background-color: #FFF;font-size: 1.3rem;">✓</span>免費提供原廠技術指導建議適當的焊接工法
                            </h2>
                        </div>
                    </div>
                    <div class="feature-item wow fadeInUp" data-wow-delay=".7s">
                        <div class="feature-thumb">

                        </div>
                        <div class="banner-content">
                            <h2 class="title">
                                <span style="color:#3E54FF ;background-color: #FFF;font-size: 1.3rem;">✓</span>提高應用的經濟效率和質量
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features Area -->

<!-- Start Service Area -->
<section class="services section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-12">
                <div class="section-title">
                    <span class="wow fadeInDown" data-wow-delay=".2s">工業解決方案專家
                    </span>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">工業超音波，無所不在
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">您知道嗎?日常生活中有大量的產品都是利用超音波來焊接的。我們的技術已應於各個行業，可對塑料和有色金屬進行永久性接合。
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                    <div class="serial">
                        <span><i class="lni lni-code"></i></span>
                    </div>
                    <h3><a href="/herrmann/welding">{{ herrmann.mid_tit_001 }}</a></h3>
                    <p>{{ herrmann.mid_txt_001 }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-service wow fadeInUp" data-wow-delay=".3s">
                    <div class="serial">
                        <span><i class="lni lni-vector"></i></span>
                    </div>
                    <h3><a href="/herrmann/metal">{{ herrmann.mid_tit_002 }}</a></h3>
                    <p>{{ herrmann.mid_txt_002 }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-service wow fadeInUp" data-wow-delay=".4s">
                    <div class="serial">
                        <span><i class="lni lni-ux"></i></span>
                    </div>
                    <h3><a href="/herrmann/components">{{ herrmann.mid_tit_003 }}</a></h3>
                    <p>{{ herrmann.mid_txt_003 }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-service wow fadeInUp" data-wow-delay=".5s">
                    <div class="serial">
                        <span><i class="lni lni-keyword-research"></i></span>
                    </div>
                    <h3><a href="service-single.html">{{ herrmann.mid_tit_004 }}</a></h3>
                    <p>{{ herrmann.mid_txt_004 }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-service wow fadeInUp" data-wow-delay=".6s">
                    <div class="serial">
                        <span><i class="lni lni-seo"></i></span>
                    </div>
                    <h3><a href="service-single.html">{{ herrmann.mid_tit_005 }}</a></h3>
                    <p>{{ herrmann.mid_txt_005 }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-service wow fadeInUp" data-wow-delay=".7s">
                    <div class="serial">
                        <span><i class="lni lni-bar-chart"></i></span>
                    </div>
                    <h3><a href="service-single.html">{{ herrmann.mid_tit_006 }}</a></h3>
                    <p>{{ herrmann.mid_txt_006 }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
<!-- /End Services Area -->



{% endblock %}