{% extends 'home.html' %} {% block content %}
<!-- Start Features Area -->
<section class="Features section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="feature-content">
                    <div class="title">
                        <span class="wow fadeInRight" data-wow-delay=".3s">Ultrasonic Metal Welding Machines</span>
                        <h3 class="wow fadeInRight" data-wow-delay=".5s">超音波金屬焊接</h3>
                    </div>
                    <div class="feature-item wow fadeInUp" data-wow-delay=".5s">
                        <div class="feature-thumb">
                            <i class="lni lni-arrow-right-circle"></i>
                        </div>
                        <div class="banner-content" style="padding-top: 2%;">
                            <h2 class="title">超音波金屬焊接
                            </h2>
                            <p>
                                金屬熔接在汽車和電子行業用於製造電池(銅箔與鋁箔的接合)、端子+芯線與端子+端子的應用等。<br><br> Herrmann超音波熔接機由銘機實業獨家代理，更多相關資訊請歡迎來信: <a style="color:#3e54ff;" href="mailto:btk@btktech.com.tw">btk@btktech.com.tw</a> / <a style="color:#3e54ff;" href=" mailto:btk@btktech.com.tw ">billy@mail.mingjilee.com </a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row col-lg-12 col-md-12 col-12 ">
                {% for herrmann in object_list %}
                <div class="col-lg-4 col-md-4 col-sm-6 ">
                    <!-- Button trigger modal -->
                    <span type="button " data-bs-toggle="modal " data-bs-target="#exampleModal-{{ herrmann.id }} ">
                            <img src="{{ herrmann.mta_img_001 }} ">
                        </span>
                    <h5>{{ herrmann.mta_tit }}</h5>
                </div>
                {% endfor %} {% for herrmann in object_list %}
                <!-- Modal -->
                <div class="col-lg-6 col-md-6 ">
                    <div class="modal fade " id="exampleModal-{{ herrmann.id }} " tabindex="-1 " aria-labelledby="exampleModalLabel " aria-hidden="true ">
                        <div class="modal-dialog modal-xl ">
                            <div class="modal-content ">
                                <div class="modal-header ">
                                    <h5 class="modal-title " id="exampleModalLabel exampleModal ">{{ herrmann.mta_tit }}</h5>
                                    <button type="button " class="btn-close " data-bs-dismiss="modal " aria-label="Close "></button>
                                </div>
                                <div class="modal-body ">
                                    {{ herrmann.mta_cont |safe }}

                                    <ul class="nav nav-pills mb-3 " id="pills-tab " role="tablist ">
                                        <li class="nav-item " role="presentation ">
                                            <button class="nav-link active " id="pills-home-tab " data-bs-toggle="pill " data-bs-target="#pills-home-{{ herrmann.id }} " type="button " role="tab " aria-controls="pills-home " aria-selected="true ">{{ herrmann.mta_seri_001_tit_01 }}</button>
                                        </li>
                                        <li class="nav-item " role="presentation ">
                                            <button class="nav-link " id="pills-profile-tab " data-bs-toggle="pill " data-bs-target="#pills-profile-{{ herrmann.id }} " type="button " role="tab " aria-controls="pills-profile " aria-selected="false ">{{ herrmann.mta_seri_001_tit_02 }}</button>
                                        </li>
                                        <li class="nav-item " role="presentation ">
                                            <button class="nav-link " id="pills-logic-tab " data-bs-toggle="pill " data-bs-target="#pills-logic-{{ herrmann.id }} " type="button " role="tab " aria-controls="pills-logic " aria-selected="false ">{{ herrmann.mta_seri_001_tit_03 }}</button>
                                        </li>
                                        <li class="nav-item " role="presentation ">
                                            <button class="nav-link " id="pills-solid-tab " data-bs-toggle="pill " data-bs-target="#pills-solid-{{ herrmann.id }} " type="button " role="tab " aria-controls="pills-solid " aria-selected="false ">{{ herrmann.mta_seri_001_tit_04 }}</button>
                                        </li>
                                    </ul>

                                    <div class="tab-content " id="pills-tabContent ">
                                        <div class="tab-pane fade show active " id="pills-home-{{ herrmann.id }} " role="tabpanel " aria-labelledby="pills-home-tab ">
                                            {{ herrmann.mta_seri_001_1|safe }}
                                        </div>
                                        <div class="tab-pane fade " id="pills-profile-{{ herrmann.id }} " role="tabpanel " aria-labelledby="pills-profile-tab ">
                                            {{ herrmann.mta_seri_001_2|safe }}
                                        </div>

                                        <div class="tab-pane fade " id="pills-logic-{{ herrmann.id }} " role="tabpanel " aria-labelledby="pills-profile-tab ">
                                            {{ herrmann.mta_seri_001_3|safe }}
                                        </div>

                                        <div class="tab-pane fade " id="pills-solid-{{ herrmann.id }} " role="tabpanel " aria-labelledby="pills-profile-tab ">
                                            {{ herrmann.mta_seri_001_4|safe }}
                                        </div>
                                    </div>



                                </div>
                                <div class="modal-footer ">
                                    <button type="button " class="btn btn-secondary " data-bs-dismiss="modal ">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</section>

<!-- End Features Area -->
{% endblock %}