{% extends 'home_sp.html' %}
{% block content %}
	<!-- Start Features Area -->
    <section class="Features section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="feature-content">
                        <div class="title">
                            <span class="wow fadeInRight" data-wow-delay=".3s">Ultrasonic welding machines</span>
                            <h3 class="wow fadeInRight" data-wow-delay=".5s">Ultrasonic for Plastic welding machine</h3>
                        </div>
                        <div class="feature-item wow fadeInUp" data-wow-delay=".5s">
                            <div class="feature-thumb">
                                <i class="lni lni-arrow-right-circle"></i>
                            </div>
                            <div class="banner-content" style="padding-top: 2%;">
                                <h2 class="title">
                                    Ultrasonic welding machines for the best joint results
                                </h2>
                                <p>Ultrasonic welding is an especially gentle joining technology for thermoplastic materials and nonferrous metals. Manual work stations are used in many ways in the plastics processing industry. The user manually loads the plastic components to be joined and removes them again from the machine after the weld process. The components can be welded with one or more ultrasonic sonotrodes depending on their size and geometry. Partially automated solutions support the work process for the production of high-quality thermoplastic products, but we also offer suitable platforms for copper and aluminum, i.e. for LI battery and cable harness applications. The development and production of all standard Herrmann ultrasonic machines, whether they are series or customized machines, takes place at the parent plant in Karlsbad, Germany. 
                                </p>
                            </div>
                        </div>
                        <div class="feature-item wow fadeInUp" data-wow-delay=".6s">
                            <div class="feature-thumb">
                                <i class="lni lni-arrow-right-circle"></i>
                            </div>
                            <div class="banner-content" style="padding-top: 2%;">
                                <h2 class="title">Advantages of Herrmann ultrasonic welding machines
                                </h2>
                                <p>
                                    All ultrasonic welding machines of the HiQ product line, ULTRACELL, ULTRASAFE, punching and sealing or ULTRALINE are characterized by: <br><br>

                                    Weld process controllers guarantee high joining accuracy <br>
                                    Development and production ‘’Made in Germany’’<br>
                                    Each machine is subjected to a strict functional and release check (FAT)<br>
                                    Realization of proven concepts with high technical standards<br>
                                    All-round application-technical consulting - 360° ULTRASONIC ENGINEERING<br>

                                </p>
                            </div>
                        </div>
                        <div class="feature-item wow fadeInUp" data-wow-delay=".7s">
                            <div class="feature-thumb">
                                <i class="lni lni-arrow-right-circle"></i>
                            </div>
                            <div class="banner-content" style="padding-top: 2%;">
                                <h2 class="title">Wide-ranging applications in industry<br>

                               <p>
                                   Ultrasonic welding machines are mostly used in the industries Automotive, Consumer, Electronic or Medical. Particularly where permanently strong, tight and visually impeccable connections are required. With all Herrmann Ultrasonic solutions, the fully digitalized ultrasonic generators guarantee reproducible results. The weld process is easy to optimize with specially developed controllers and suitable software. 
                               </p>
                                </h2>
                                
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="row col-lg-12 col-md-12 col-12">
                    {% for herrmann in object_list %}
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <!-- Button trigger modal -->
                        <span type="button" class="btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ herrmann.id }}">
                            <img src="{{ herrmann.welding_img_001_sp }}">
                        </span>
                        <h5>{{ herrmann.welding_tit_sp }}</h5>
                    </div>    
                    {% endfor %}
                    {% for herrmann in object_list %}
                        <!-- Modal -->
                        <div class="col-lg-6 col-md-6">
                        <div class="modal fade" id="exampleModal-{{ herrmann.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel exampleModal">{{ herrmann.welding_tit_sp }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                {{ herrmann.welding_cont_sp |safe }}

                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                  <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home-{{ herrmann.id }}" type="button" role="tab" aria-controls="pills-home" aria-selected="true">{{ herrmann.welding_seri_001_tit_01_sp }}</button>
                                  </li>
                                  <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile-{{ herrmann.id }}" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">{{ herrmann.welding_seri_001_tit_02_sp }}</button>
                                  </li>
                                  <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-logic-tab" data-bs-toggle="pill" data-bs-target="#pills-logic-{{ herrmann.id }}" type="button" role="tab" aria-controls="pills-logic" aria-selected="false">{{ herrmann.welding_seri_001_tit_03_sp }}</button>
                                  </li>
                                  <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-solid-tab" data-bs-toggle="pill" data-bs-target="#pills-solid-{{ herrmann.id }}" type="button" role="tab" aria-controls="pills-solid" aria-selected="false">{{ herrmann.welding_seri_001_tit_04_sp }}</button>
                                  </li>
                                </ul>
                                
                                <div class="tab-content" id="pills-tabContent">
                                  <div class="tab-pane fade show active" id="pills-home-{{ herrmann.id }}" role="tabpanel" aria-labelledby="pills-home-tab">
                                    {{ herrmann.welding_seri_001_1_sp|safe }}
                                </div>
                                <div class="tab-pane fade" id="pills-profile-{{ herrmann.id }}" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    {{ herrmann.welding_seri_001_2_sp|safe }}
                                  </div>
                                
                                <div class="tab-pane fade" id="pills-logic-{{ herrmann.id }}" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    {{ herrmann.welding_seri_001_3_sp|safe }}
                                  </div>
                                
                                <div class="tab-pane fade" id="pills-solid-{{ herrmann.id }}" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    {{ herrmann.welding_seri_001_4_sp|safe }}
                                  </div>
                                </div>
                               


                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                     {% endfor %}
            </div>
        </div>
    </section>
    
    <!-- End Features Area -->
{% endblock  %}