{% extends 'home_en.html' %}
{% block content %}
	<!-- Start Features Area -->
    <section class="Features section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="feature-content">
                        <div class="title">
                            <span class="wow fadeInRight" data-wow-delay=".3s">Ultrasonic welding machines</span>
                            <h3 class="wow fadeInRight" data-wow-delay=".5s">超音波塑膠熔接</h3>
                        </div>
                        <div class="feature-item wow fadeInUp" data-wow-delay=".5s">
                            <div class="feature-thumb">
                                <i class="lni lni-arrow-right-circle"></i>
                            </div>
                            <div class="banner-content" style="padding-top: 2%;">
                                <h2 class="title">
                                    超音波熔接設備實現絕佳接合效果
                                </h2>
                                <p>超音波熔接是非常柔和接合技術，適用于熱塑性材料和有色金屬。手動工作台在塑料加工業應用廣泛且方式多種多樣。使用者手動裝載要熔接的塑料組件，熔接完成後再將其從超音波熔接設備中取出。不同尺寸和幾何形狀部件的焊接，可通過一個或多個超音波焊頭完成。半自動化解決方案支持生產高品質熱塑性塑料產品的工作流程，同時我們還為銅箔和鋁箔提供合適的機台，即用於鋰離子電池和芯線束的機台。無論是標準產品還是客製機台，所有Herrmann超音波熔接機都在德國Karlsbad的母工廠研發和生產。 </p>
                            </div>
                        </div>
                        <div class="feature-item wow fadeInUp" data-wow-delay=".6s">
                            <div class="feature-thumb">
                                <i class="lni lni-arrow-right-circle"></i>
                            </div>
                            <div class="banner-content" style="padding-top: 2%;">
                                <h2 class="title">Herrmann超音波熔接機的優勢</h2>
                                <p>
                                    所有HiQ系列的超音波熔接機，包括ULTRACELL、ULTRASAFE、沖壓密封機械，都具有以下特點:<br><br>

                                    焊接工藝控制器為高焊接精度提供保障<br>
                                    德國研發、德國製造<br>
                                    每台熔接機都經過嚴格的功能和出廠檢查(FAT)<br>
                                    實行成熟理念、遵循嚴格技術標準<br>
                                    全面的應用技術諮詢—360°超音波工程學<br>

                                </p>
                            </div>
                        </div>
                        <div class="feature-item wow fadeInUp" data-wow-delay=".7s">
                            <div class="feature-thumb">
                                <i class="lni lni-arrow-right-circle"></i>
                            </div>
                            <div class="banner-content" style="padding-top: 2%;">
                                <h2 class="title">各類工業級應用<br>

                               <p>超音波熔接主要應用於汽車、家電、電子和醫療行業，尤其適用於需要經久耐用、緊密密封、外觀無痕跡連接的情況。所有超音波焊接機的超音波發震箱都能確保焊接效果始終如一，特別研發的控制器與合適的軟體極大的改善了焊接工藝。</p>
                                </h2>
                                
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="row col-lg-12 col-md-12 col-12">
                    {% for herrmann in object_list %}
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <!-- Button trigger modal -->
                        <span type="button" class="btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ herrmann.id }}">
                            <img src="{{ herrmann.welding_img_001_en }}">
                        </span>
                        <h5>{{ herrmann.welding_tit_en }}</h5>
                    </div>    
                    {% endfor %}
                    {% for herrmann in object_list %}
                        <!-- Modal -->
                        <div class="col-lg-6 col-md-6">
                        <div class="modal fade" id="exampleModal-{{ herrmann.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel exampleModal">{{ herrmann.welding_tit_en }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                {{ herrmann.welding_cont_en |safe }}

                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                  <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home-{{ herrmann.id }}" type="button" role="tab" aria-controls="pills-home" aria-selected="true">{{ herrmann.welding_seri_001_tit_01_en }}</button>
                                  </li>
                                  <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile-{{ herrmann.id }}" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">{{ herrmann.welding_seri_001_tit_02_en }}</button>
                                  </li>
                                  <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-logic-tab" data-bs-toggle="pill" data-bs-target="#pills-logic-{{ herrmann.id }}" type="button" role="tab" aria-controls="pills-logic" aria-selected="false">{{ herrmann.welding_seri_001_tit_03_en }}</button>
                                  </li>
                                  <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-solid-tab" data-bs-toggle="pill" data-bs-target="#pills-solid-{{ herrmann.id }}" type="button" role="tab" aria-controls="pills-solid" aria-selected="false">{{ herrmann.welding_seri_001_tit_04_en }}</button>
                                  </li>
                                </ul>
                                
                                <div class="tab-content" id="pills-tabContent">
                                  <div class="tab-pane fade show active" id="pills-home-{{ herrmann.id }}" role="tabpanel" aria-labelledby="pills-home-tab">
                                    {{ herrmann.welding_seri_001_1_en|safe }}
                                </div>
                                <div class="tab-pane fade" id="pills-profile-{{ herrmann.id }}" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    {{ herrmann.welding_seri_001_2_en|safe }}
                                  </div>
                                
                                <div class="tab-pane fade" id="pills-logic-{{ herrmann.id }}" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    {{ herrmann.welding_seri_001_3_en|safe }}
                                  </div>
                                
                                <div class="tab-pane fade" id="pills-solid-{{ herrmann.id }}" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    {{ herrmann.welding_seri_001_4_en|safe }}
                                  </div>
                                </div>
                               


                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                     {% endfor %}
            </div>
        </div>
    </section>
    
    <!-- End Features Area -->
{% endblock  %}